<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RoDX</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/droguri.css">
    </head>

    <body>
        <header>
          <div class="logo">
            <a href="index.html">
                <img src="../static/images/logo.png">
                <span class="logo-text">RoDX.</span>
            </a>
        </div>
      <div class="group">
        <ul class="navigation">
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="statistici.html">statistics</a></li>
            <li><a href="droguri.html">Drugs</a></li>
            <li><a href="help.html">Help</a></li>
           
        </ul>
        <div class="search">
            <span class="icon">
                <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                <ion-icon name="close-outline" class="closeBtn"></ion-icon>

            </span>
        </div>
        <ion-icon name="menu-outline"class="menuToggle"></ion-icon>
      </div>
      <div class="searchBox">
        <input type="text" placeholder="Search here...">

      </div>

      <div class="contact-button">
        <a href="help.html">
          <img src="../static/images/phone.png" alt="Contact Us">
        </a>
      </div>
    </header>
    <ol class="chenare" style="--length: 20" role="list">
        <li style="--i: 1">
            <h3>Drogul extazului</h3>
            <img class="drugs" src="../static/images/drugsEcstasy.jpg"/>
            <p>Un drog recreativ, luat sub formă de pastile de ecstasy sau sub formă de pulbere MDMA.</p>
        </li>
        <li style="--i: 2">
            <h3>Alcool</h3>
            <img class="drugs" src="../static/images/drugsAlcool.jpg"/>
            <p>Băuturile alcoolice, cum ar fi berea, vinul și băuturile spirtoase.</p>
        </li>
        <li style="--i: 3">
            <h3>Cocaină</h3>
            <img class="drugs" src="../static/images/drugsCocaina.jpg"/>
            <p>Un stimulent sub formă de pudră albă, care de obicei este inhalat sau frecat pe gingii.</p>
        </li>
        <li style="--i: 4">
            <h3>Aurul din Amsterdam</h3>
            <img class="drugs" src="../static/images/drugsAA.jpg"/>
            <p>Substanțe chimice concepute pentru a acționa ca principala substanță psihoactivă din cannabis.</p>
        </li>
        <li style="--i: 5">
            <h3>LSD</h3>
            <img class="drugs" src="../static/images/drugsLSD.jpg"/>
            <p>O substanță chimică de obicei vândută în cantități mici pe hârtie de blotter, sub formă de lichid sau pastilă/micro-punct.</p>
        </li>
        <li style="--i: 6">
            <h3>Benzos</h3>
            <img class="drugs" src="../static/images/drugsBenzos.jpg"/>
            <p>Benzodiazepinele sunt medicamente prescrise pentru tratarea anxietății. "Benzos de stradă" sunt droguri ilicite similare, dar pot fi mult mai periculoase.</p>
        </li>
        <li style="--i: 7">
            <h3>Heroină</h3>
            <img class="drugs" src="../static/images/drugsHeroina.jpg"/>
            <p>Un narcotic puternic care este de obicei vândut sub formă de pudră albă sau maro.</p>
        </li>
        <li style="--i: 8">
            <h3>Aurolac</h3>
            <img class="drugs" src="../static/images/drugsAurolac.jpg"/>
            <p>O gamă largă de adezivi, gaze, solvenți și aerosoli care conțin substanțe volatile și pe care oamenii le inhalează pentru a se droga.</p>
        </li>
        <li style="--i: 9">
            <h3>Canabis</h3>
            <img class="drugs" src="../static/images/drugsCanabis.jpg"/>
            <p>Canabisul este o plantă. Poate fi fumată, consumată sau vaporizată.</p>
        </li>
        <li style="--i: 10">
            <h3>Codeină</h3>
            <img class="drugs" src="../static/images/drugsCodeina.jpg"/>
            <p>Un analgezic utilizat pentru tratarea durerii usoare pana la moderate, disponibil sub forma de tablete, sirop sau lichid pentru injectare.</p>
        </li>
        <li style="--i: 11">
            <h3>Metanfetamină</h3>
            <img class="drugs" src="../static/images/drugsMetanfetamina.jpg"/>
            <p>Parte din familia de droguri stimulante amfetaminice.</p>
        </li>
        <li style="--i: 12">
            <h3>Ketamină</h3>
            <img class="drugs" src="../static/images/drugsKetamina.jpg"/>
            <p>Vândut ca o pulbere granulată albă sau maronie deschisă. Arată similar cu cocaina, dar este un drog foarte diferit.</p>
        </li>
        <li style="--i: 13">
            <h3>Vape</h3>
            <img class="drugs" src="../static/images/drugsVapes.jpg"/>
            <p>Vape-urile sunt dispozitive electronice concepute pentru a permite oamenilor să inhaleze nicotină sub formă de vapori. Folosirea unui vape se numește vaping. </p>
        </li>
        <li style="--i: 14">
            <h3>Salvia</h3>
            <img class="drugs" src="../static/images/drugsSalvia.jpg"/>
            <p>O plantă mexicană cu frunze care conțin substanțe psihotrope care produc halucinații atunci când sunt mestecate sau fumate.</p>
        </li>
        <li style="--i: 15">
            <h3>Tutun</h3>
            <img class="drugs" src="../static/images/drugsTutun.jpg"/>
            <p>Tutunul este găsit în țigări care sunt fumate și în narghilea (hookah) care este fumată prin intermediul unei pipe cu apă. Tutunul conține substanța adictive nicotină.</p>
        </li>
        <li style="--i: 16">
            <h3>Party Pills</h3>
            <img class="drugs" src="../static/images/drugsHP.jpg"/>
            <p>O clasă largă de compuși chimici care imită efectele ecstasy-ului.</p>
        </li>
        <li style="--i: 17">
            <h3>PCP</h3>
            <img class="drugs" src="../static/images/drugsPCP.jpg"/>
            <p>Un anestezic care poate opri senzația de durere la oameni, dar poate cauza și halucinații.</p>
        </li>
        <li style="--i: 18">
            <h3>IPEDs</h3>
            <img class="drugs" src="../static/images/drugsIPED.jpg"/>
            <p>Substanțe medicamentoase care pot schimba aspectul sau greutatea corporală a unei persoane - cum ar fi steroizii, pastilele de slăbit, medicamentele pentru disfuncția erectilă și „pastilele inteligente”.</p>
        </li>
        <li style="--i: 19">
            <h3>Ciuperci magice</h3>
            <img class="drugs" src="../static/images/drugsCiuperci.jpg"/>
            <p>”Shrooms” sau ”ciupercile magice” cresc în sălbăticie. Acestea pot fi înghițite sau transformate în ceai.</p>
        </li>
        <li style="--i: 20">
            <h3>Speed</h3>
            <img class="drugs" src="../static/images/drugsSpeed.jpg"/>
            <p>Un stimulent puternic care ține oamenii treji, de obicei vândut sub formă de pulbere albă sau roz - care uneori arată ca niște cristale mici.</p>
        </li>
    </ol>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script type="text/javascript" src="../static/js/file.js"></script>


    </body>
</html>