<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RoDX</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/help.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>

    <body>
      <header>
        <div class="logo">
            <a href="index.html">
                <img src="../static/images/logo.png" alt="logo">
                <span class="logo-text">RoDX.</span>
            </a>
        </div>
        <div class="group">
            <ul class="navigation">
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="statistici.html">Statistics</a></li>
                <li><a href="droguri.html">Drugs</a></li>
                <li><a href="help.html">Help</a></li>
            </ul>
            </div>
            

        <button id="open-modal" onclick="loadUserInfo()">
          <img src="../static/images/icon.png" alt="Imagine antet" width="50" height="50">
      </button>
      
        <div id="modal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/data.png" alt="Imagine modal">
            <div class="modal-text">
              <p><strong>Nume utilizator:</strong> <span id="username-modal"></span></p>
    <p><strong>Email:</strong> <span id="email-modal"></span></p>
    <p><strong>Parolă:</strong> <span id="password-modal"></span></p>

             
            </div>
          </div>
        </div>

        <button onclick="performLogout()"><svg width="183px" height="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 15H6V20H18V4H6V9H4V3C4 2.44772 4.44772 2 5 2H19C19.5523 2 20 2.44772 20 3V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V15ZM10 11V8L15 12L10 16V13H2V11H10Z" fill="rgba(28,172,120,1)"></path></svg></button>
        <div class="contact-button">
            <a href="help.html">
                <img src="../static/images/phone.png" alt="Contact Us">
            </a>
        </div>
    </header>

    <div class="about-section">
    </div>
    
    <h2 style="text-align:center"></h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../static/images/c3.png" alt="Jane" style="width:70%">
          <div class="container">
            <h2>Renunți și câștigi</h2>
            <p class="title"> Conform raportului Departamentului de Sănătate Publică SUA, a renunța la fumat este singurul cel mai important demers, pe care un fumător poate să il facă pentru a crește speranța de viață și calitatea acesteia. </p>
           <div class="resume">
            <p>Renunțarea la tutun și la produsele conexe este dificilă, dar cu suportul și resursele potrivite o poți face! Pierzi mult mai mult decât crezi folosind tutunul – sănătatea ta, sănătatea familiei și a celor dragi, banii, aspectul și multe altele. Renunți și ești cu adevărat câștigător!
            </p>
          </div>
            <div class="statistics">
              <p><strong>17059 beneficiari </strong></p>
            </div>
            <p><strong>email: </strong>info@renuntisicastigi</p>
            <p><strong>contact: </strong>0742 345 777</p>
            <p><button class="button" onclick="window.location.href='https://renuntisicastigi.ro/'">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../static/images/c2.png" alt="Mike" style="width:70%">
          <div class="container">
            <h2> 19 zile de prevenire a abuzurilor și violențelor asupra copiilor și tinerilor </h2>
            <p> </p>
            <p class="title">Şi în acest an, specialiştii celor 47 de Centre de Prevenire, Evaluare şi Consiliere Antidrog ale Agenţiei au desfășurat 154 de activități de prevenire a consumului de droguri</p>
               <div class="resume">
                <p>Campania este un apel pentru a organiza acțiuni care să schimbe comportamentul social, să educe și să mobilizeze diverse organizații și parteneri ai societății civile. </p>
              </div>
               <div class="statistics">
               <p><strong>4559 beneficiari</strong></p>
              </div>
            <p><strong>email: </strong>@campanie_prevenire</p>
            <p><strong>contact: </strong>0746-287-127</p>
            <p><button class="button" onclick="window.location.href='http://ana.gov.ro/campania-19-zile-de-prevenire-a-abuzurilor-si-violentelor-asupra-copiilor-si-tinerilor-la-final/'">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../static/images/merge.png" alt="John" style="width:70%">
          <div class="container">
            <h2>Fii Liber</h2>
            <p class="title"> "FII LIBER!” este o campanie care își propune, la nivel naţional, crearea unei reţele de suport comunitar formate din cadre didactice, voluntari ANA, părinţi şi specialişti.</p>
            <div class="statistics">
              <p>Prin derularea acestei campanii, Agenţia Naţională Antidrog işi propune informarea, educarea și conștientizarea elevilor şi studenţilor în legătură cu efectele și riscurile consumului de substanțe noi psihoactive, în vederea neînceperii şi/sau evitării trecerii de la consumul ocazional sau recreaţional, la consumul regulat la nivelul populaţiei generale.</p>
            </div>
          <div class="resume">
            <p><strong> 79947 beneficiari </strong> </p>
          </div>

            <p><strong>email:</strong>office@fii_liber</p>
            <p><strong>contact: </strong>0751 664 345</p>


            <p><button class="button" onclick="window.location.href='http://ana.gov.ro/agentia-nationala-antidrog-lanseaza-campania-nationala-media-de-prevenire-a-consumului-de-noi-substante-psihoactive-fii-liber/'">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="../static/js/file.js"></script>
    <script type="text/javascript" src="../static/js/help.js"></script>
    <script type="text/javascript" src="../static/js/logout.js"></script>
    <script type="text/javascript" src="../static/js/getUserInfo.js"></script>
    <script type="text/javascript" src="../static/js/file.js"></script>

    </body>
</html>