<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RoDX</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/help.css">

    </head>

    <body>
        <header>
          <div class="logo">
            <a href="index.html">
                <img src="../static/images/logo.png">
                <span class="logo-text">RoDX</span>
            </a>
        </div>
      <div class="group">
        <ul class="navigation">
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="statistici.html">statistics</a></li>
            <li><a href="droguri.html">Drugs</a></li>
            <li><a href="help.html">Help</a></li>
           
        </ul>
        <div class="search">
            <span class="icon">
                <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                <ion-icon name="close-outline" class="closeBtn"></ion-icon>

            </span>
        </div>
        <ion-icon name="menu-outline"class="menuToggle"></ion-icon>
      </div>
      <div class="searchBox">
        <input type="text" placeholder="Search here...">
      </div>

      <div class="contact-button">
        <a href="help.html">
          <img src="../static/images/phone.png" alt="Contact Us">
        </a>
      </div>
    
    </header>


    <div class="about-section">
    </div>
    
    <h2 style="text-align:center"></h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../static/images/c3.png" alt="Jane" style="width:70%">
          <div class="container">
            <h2>Castle Craig</h2>
            <p class="title"> Spitalul Castle Craig este o clinică de vârf la nivel mondial
              de dezintoxicare, care oferă detoxifiere și tratament pentru persoanele cu dependență.Experiența vastă și
              îngrijirea medicală de specialitate îi recomandă. </p>
           <div class="resume">
            <p>Echipa medicală de experți Craig are zeci de ani de experiență în gestionarea detoxificării complexe de la drogurile care creează dependență, cum ar fi cocaina, medicamentele eliberate pe bază de rețetă.
            </p>
          </div>
            <div class="statistics">
              <p><strong>99% de pacienti multumiti </strong></p>
            </div>
            <p><strong>email: </strong>info@castlehealth.eu</p>
            <p><strong>contact: </strong>+44 1721 722763</p>
            <p><button class="button" onclick="window.location.href='https://castlecraig.co.uk/'">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../static/images/c2.png" alt="Mike" style="width:70%">
          <div class="container">
            <h2> Laura Catana Medical Center </h2>
            <p> </p>
            <<p class="title">Centrul Medical Laura Catană găzduiește o alternativă la spitalizarea tradițională
              (prevăzut în mod tradițional de sistemul public de sănătate) îmbinând profesionalismul și performanța
              medicală cu căldură și prietenie.</p>
               <div class="resume">
                <p>Centrul Medical Laura Catană este în relație contractuală cu Casa de Asigurări de Sănătate Alba.</p>
              </div>
               <div class="statistics">
               <p><strong>90% de pacienți mulțumiți</strong></p>
              </div>
            <p><strong>email: </strong>@doctor-psi.ro</p>
            <p><strong>contact: </strong>0746-287-101</p>
            <p><button class="button" onclick="window.location.href='https://www.doctor-psi.ro/'">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../static/images/merge.png" alt="John" style="width:70%">
          <div class="container">
            <h2>Color Mind Clinic</h2>
            <p class="title">Peste 2000 de pacienți tratați în cei peste 15 ani de activitate ai primei echipe de profesioniști specializați în tratarea dependențelor din România.Misiunea clinicii Color Mind este aceea de oferi sprijin psihologic specializat celor aflați în dificultate.</p>
            <div class="statistics">
              <p>Peste 10 ani de experiență și formare continuă în tratamentul dependenței au dus la crearea unor programe specializate, individualizate, atent calibrate.</p>
            </div>
          <div class="resume">
            <p><strong> 80% de pacienți multumiti </strong> </p>
          </div>

            <p><strong>email:</strong>office@color-mind.ro</p>
            <p><button class="button" onclick="window.location.href='https://color-mind.ro/'">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="../static/js/file.js"></script>
    <script type="text/javascript" src="../static/js/help.js"></script>


    </body>
</html>