<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RoDX</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/news.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <header>
          <div class="logo">
            <a href="index.html">
                <img src="../static/images/logo.png" alt="logo">
                <span class="logo-text">RoDX.</span>
            </a>
        </div>
      <div class="group">
        <ul class="navigation">
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="statistici.html">statistics</a></li>
            <li><a href="droguri.html">Drugs</a></li>
            <li><a href="help.html">Help</a></li>
           
        </ul>
        <div class="search">
            <span class="icon">
                <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                <ion-icon name="close-outline" class="closeBtn"></ion-icon>

            </span>
        </div>
        <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
      </div>
      <div class="searchBox">
        <input type="text" placeholder="Search here...">
      </div>

      <button onclick="performLogout()"><svg width="183px" height="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 15H6V20H18V4H6V9H4V3C4 2.44772 4.44772 2 5 2H19C19.5523 2 20 2.44772 20 3V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V15ZM10 11V8L15 12L10 16V13H2V11H10Z" fill="rgba(28,172,120,1)"></path></svg></button>

      <div class="contact-button">
        <a href="help.html">
          <img src="../static/images/phone.png" alt="Contact Us">
        </a>
      </div>
      
    </header>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <div class="cards">

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="../static/images/news1.png" alt="Card">
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Rețea trafic de droguri prinsă la Arad
            <small>G4Media.ro</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Șaisprezece percheziţii domiciliare au avut loc în judeţul Arad, în cadrul unei acţiuni de destructurare a unei grupări infracţionale specializate în traficul de droguri de risc şi de mare risc şi efectuarea de operaţiuni cu substanţe psihoactive, fără drept, 34 de persoane fiind conduse la audieri, anunță Agerpres.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="http://www.g4media.ro/grupare-specializata-in-trafic-de-droguri-destructurata-in-arad-16-perchezitii-domiciliare-si-34-de-persoane-audiate.html" class="btn2">Read more</a>

            </div>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="../static/images/news2.jpg" alt="Card">
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Gardian prins cu droguri
            <small>cugetliber.ro</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Un subofițer gardian, de la Penitenciarul de maximă siguranța Giurgiu, a fost prins de polițiștii antidrog. Avea în bagajul personal, aproape 400 de comprimate cu substanță dopantă cu grad mare de risc pe care dorea să le-o vândă deținuților.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="https://cugetliber.ro/stiri-eveniment-gardian-din-penitenciar-prins-cu-droguri-voia-sa-le-vanda-chiar-detinutilor-substanta-interzisa-in-majoritatea-tarilor-478663" class="btn2">Read more</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="../static/images/news3.jpg" alt="Card">
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Traficanții pătrund în porturile europene
            <small>digi24.ro</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Bandele de traficanţi de droguri se infiltrează tot mai mult în structurile porturilor europene, mituind personal şi introducându-şi propriii membri, a avertizat, miercuri, Europol.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="https://www.digi24.ro/stiri/externe/europol-avertizeaza-ca-traficantii-de-droguri-au-inceput-sa-infiltreze-tot-mai-profund-porturile-europene-2305847" class="btn2">Read more</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="../static/images/news4.png" alt="Card">
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Profesori instruiți să depisteze droguri
            <small>edupedu.ro</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Vor fi formați 40 de profesori pe lună pentru a recunoaște elevii care consumă droguri, printr-un proiect comun al Ministerul Educației împreună cu Ministerul Sănătății și Agenția Națională Antidrog (ANA), spune Kallós Zoltán, secretar de stat în Ministerul Educației.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="https://www.edupedu.ro/cate-40-de-profesori-pe-luna-din-fiecare-judet-vor-fi-formati-sa-recunoasca-elevii-care-consuma-droguri-anunta-kallos-zoltan-secretar-de-stat-in-ministerul-educatiei/" class="btn2">Read more</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="../static/images/news5.jpg" alt="Card">
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Bebeluș găsit mort din cauza drogurilor
            <small>stirileprotv.ro</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Un bebeluș de un an și șapte luni a fost găsit fără suflare de părinții săi, după ce a înghițit droguri. Tragedia a avut loc în timp ce familia se afla în vacanță în Miami.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="https://stirileprotv.ro/stiri/international/bebelus-de-1-an-si-7-luni-gasit-mort-in-casa-dupa-ce-a-inghitit-droguri-ce-s-a-descoperit-la-autopsie-foto.html" class="btn2">Read more</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="../static/images/news6.jpg" alt="card">
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Operațiunea meduza
            <small>observatornews.ro</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Cea mai mare anchetă privind vânzarea stupefiantelor în şcoli a dat primele roade, după ce trupele speciale au săltat ieri mai mulţi elevi şi studenţi, suspectaţi că sunt dealeri de cocaină în colegii de top din Capitală. Şapte tineri au fost deja reţinuţi, iar alţi trei au fost puşi sub control judiciar.  "Operaţiunea Meduza", cum a fost denumită de procurori, a început după ce mai multe eleve au leşinat în toaleta unei şcoli din centrul Bucureştiului.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="https://observatornews.ro/eveniment/operatiunea-meduza-7-tineri-din-capitala-retinuti-pentru-vanzarea-de-droguri-in-scoli-printre-suspecti-copii-de-secretari-de-stat-sau-experti-dna-516240.html" class="btn2">Read more</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    
    <script type="text/javascript" src="../static/js/file.js"></script>
    <script type="text/javascript" src="../static/js/file2.js"></script>
    <script type="text/javascript" src="../static/js/logout.js"></script>
    
    </body>
</html>
