<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoDX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="">
                <img src="../static/images/logo.png" alt="Logo">
                <span class="logo-text">RoDX</span>
            </a>
        </div>
        
        <div class="contact-button">
            <a href="help.html">
              <img src="../static/images/phone.png" alt="Contact Us">
            </a>
          </div>
       
    </header>
    <div class="login-form">
      
      <div class="container" id="container">
        <div class="signin-container">
          <!-- Sign IN -->
          <form action="../api/login.php" id="authForm" method="post">
            <h2>Autentificare</h2>
            <label for="name">Nume</label>
            <input type="text" name="name" id="name" placeholder="Nume">
            <label for="password">Parola</label>
            <input type="password" name="password" id="password" placeholder="Parola">
            <div id="login-failed"></div>
            <button type="submit" class="submit" name="login">Login</button>
          </form>
        </div>
        <div class="signup-container">
          <!-- Sign UP -->
          <form action="../api/register.php" id="registerForm" method="post">
            <h2>Inregistrare</h2>
            <label for="name">Nume</label>
            <input type="text" name="name" id="name" placeholder="Nume">
            <div id="username-constraints"></div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
            <div id="email-constraints"></div>
            <label for="password">Parola</label>
            <input type="password" name="password" id="password" placeholder="Parola">
            <div id="password-constraints"></div>
            <label for="retype-password">Reintroduceti parola</label>
            <input type="password" name="retype-password" id="retype-password" placeholder="Parola">
            <div id="register-failed"></div>
            <button type="submit" class="submit" name="register">Register</button>
          </form>
        </div>
        <!-- Overlap -->
        <div class="overlap-container">
          <div class="overlap-sign-in">
            <h2 class="quote">Hei, pentru autentificare </h2>
            <input type="submit" class="button" value="Autentificare" id="signIn" title="Press the button to Sign In">
          </div>
          <div class="overlap-sign-up">
            <h2 class="quote">Hei, pentru inregistrare </h2>
            <input type="submit" class="button" value="Inregistrare" id="signUp" title="Press the button to Sign Up">
          </div>
        </div>
      </div>
       
      </div>
      
      <script type="text/javascript" src="../static/js/file.js"></script>
      <script type="text/javascript" src="../static/js/register.js"></script>
        
    </body>
</html>
