<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoDX</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/statistici.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1700e3d335.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="../static/images/logo.png" alt="logo">
                <span class="logo-text">RoDX.</span>
            </a>
        </div>
        <div class="group">
            <ul class="navigation">
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="statistici.html">Statistics</a></li>
                <li><a href="droguri.html">Drugs</a></li>
                <li><a href="help.html">Help</a></li>
            </ul>
            <div class="search">
                <span class="icon">
                    <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                    <ion-icon name="close-outline" class="closeBtn"></ion-icon>
                </span>
            </div>
            <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
        </div>
        <div class="searchBox">
            <input type="text" placeholder="Search here...">
        </div>

        <button onclick="window.location.href='../views/register.html'">
            <svg width="183px" height="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M4 15H6V20H18V4H6V9H4V3C4 2.44772 4.44772 2 5 2H19C19.5523 2 20 2.44772 20 3V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V15ZM10 11V8L15 12L10 16V13H2V11H10Z" fill="rgba(28,172,120,1)"></path>
            </svg>
        </button>

        <div class="contact-button">
            <a href="help.html">
                <img src="../static/images/phone.png" alt="Contact Us">
            </a>
        </div>
    </header>

    
    
    
    <div class="button-container">
        <div class="panel">
            <div class="form-item">
                <select class="select-options" name="chartType" id="chartType">
                    <option value="bar">Bar</option>
                    <option value="line">Line</option>
                    <option value="radar">Radar</option>
                    <option value="polarArea">Polar Area</option>
                    <option value="doughnut">Doughnut</option>
                </select>
            </div>
        </div>
       
        <button class="form-item-button" id="attack_type_1" value="1" onclick="generateGraph('../static/cache/CondamnariSexe.json')">Condamnari</button>
        <button class="form-item-button" id="attack_type_2" value="2" onclick="generateGraph('../static/cache/NumarBeneficiariCampanie.json')">Campanii</button>
        <button class="form-item-button" id="attack_type_3" value="3" onclick="generateGraph('../static/cache/NrPersoaneInfractiuni.json')">Infractiuni</button>
        <button class="form-item-button" id="attack_type_5" value="5" onclick="generateGraph('../static/cache/CapturiGrameDrog.json')">CapturiGrame</button>
        <button class="form-item-button" id="attack_type_4" value="4" onclick="generateGraph('../static/cache/UrgenteByYearBoala.json')">UrgentaBoala</button>
        <button class="form-item-button" id="attack_type_4" value="4" onclick="generateGraph('../static/cache/UrgenteByYearSex.json')">UrgentaSex</button>
        <button class="form-item-button" id="attack_type_7" value="7" onclick="generateGraph('../static/cache/UrgenteByYearVarsta.json')">UrgentaVarsta</button>
        <button class="form-item-button" id="attack_type_8" value="8" onclick="generateGraph('../static/cache/UrgenteCanabisBoala.json')">CanabisBoala</button>
        <button class="form-item-button" id="attack_type_6" value="6" onclick="generateGraph('../static/cache/UrgenteCanabisSex.json')">CanabisSexe</button>
        <button class="form-item-button" id="attack_type_9" value="9" onclick="generateGraph('../static/cache/UrgenteCanabisVarsta.json')">CanabisVarsta</button>
     


      </div>
              
      <div class="button-download">
        <button class="form" id="attack_type_10" value="10" onclick="downloadChartAsPNG()">Download PNG</button>
        <button class="form" id="attack_type_11" value="11" onclick="downloadChartAsSVG()">Download SVG</button>

      </div>

     
     

    <canvas id="myChart" class="chart-container "></canvas>

    <script>
        // Funcția pentru a citi datele din fișier
        function readDataFromFile(file) {
            return fetch(file)
                .then(response => response.json())
                .catch(error => {
                    throw new Error(`A apărut o eroare la citirea fișierului: ${error}`);
                });
        }

        // Funcția pentru a crea graficul cu datele primite
        function createChart(data) {
            const datasets = data.map(item => {
                const labels = item.map(entry => {
                    const [label, value] = entry.split(";");
                    return label;
                });
                const values = item.map(entry => {
                    const [label, value] = entry.split(";");
                    return parseInt(value);
                });
                
                return {
                    label: labels.join(', '),
                    data: values,
                    backgroundColor: ['rgba(200, 15, 192, 0.4)', 'rgba(172, 200, 210, 0.6)'],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2
                };
            });
            
            const labels = data[0].map(entry => {
                const [label, value] = entry.split(";");
                return label;
            });
        
            // Creăm un nou grafic folosind Chart.js
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }


        function createChart2(data) {
            const datasets = data.map(item => {
                const labels = item.map(entry => {
                    const [label, value] = entry.split(";");
                    return label;
                });
                const values = item.map(entry => {
                    const [label, value] = entry.split(";");
                    return parseInt(value);
                });
        
                return {
                    label: labels.join(', '),
                    data: values,
                    backgroundColor: 'rgba(100, 15, 132, 0.7)',
                    borderColor: 'rgba(172, 200, 210, 1)',
                    borderWidth: 1
                };
            });
        
            // Extragem etichetele din primul element din `data`
            const labels = data[0].map(entry => {
                const [label, value] = entry.split(";");
                return label;
            });
        
            // Creăm un nou grafic folosind Chart.js
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
        
        
        // Funcția pentru a genera graficul pe baza fișierului selectat
        // Funcția pentru a genera graficul pe baza fișierului selectat
let currentChart; // Variabila globala pentru a stoca graficul curent

function generateGraph(file) {
  const chartElement = document.getElementById('myChart');
  const chartType = document.getElementById('chartType').value;

  if (chartElement) {
    // Verificăm dacă există un grafic generat anterior
    // Ștergem graficul anterior
    Chart.getChart(chartElement)?.destroy();
  }

  readDataFromFile(file)
    .then((data) => {
      const datasets = data.map(item => {
        const labels = item.map(entry => {
          const [label, value] = entry.split(";");
          return label;
        });
        const values = item.map(entry => {
          const [label, value] = entry.split(";");
          return parseInt(value);
        });

        return {
          label: labels.join(', '),
          data: values,
          backgroundColor: ['rgba(200, 15, 192, 0.4)', 'rgba(172, 200, 210, 0.6)'],
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 2
        };
      });

      const labels = data[0].map(entry => {
        const [label, value] = entry.split(";");
        return label;
      });

      const ctx = document.getElementById('myChart').getContext('2d');
      currentChart = new Chart(ctx, {
        type: chartType,
        data: {
          labels: labels,
          datasets: datasets
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    })
    .catch((error) => {
      console.error("A apărut o eroare la citirea fișierului:", error);
    });
}

function downloadChartAsPNG() {
  const canvas = currentChart.canvas;
  const dataURL = canvas.toDataURL('image/png');

  const link = document.createElement('a');
  link.href = dataURL;
  link.download = 'chart.png';
  link.click();
}






    </script>
</body>
</html>