body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	
  }
  #open-modal {
	margin-left: 300px; /* Modifică valoarea pentru a muta butonul mai la dreapta */
  }
  
  .modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border-radius: 8px;
	max-width: 700px;
   
	text-align: center;
  }
  
  .modal-content img {
  
	display: block;
	margin: 0 auto 20px;
	width: 400px; /* Modifică valoarea pentru a face imaginea mai mare */
	height:400px;
  }

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row {
  padding: 0 16px;
  margin-left: -8px;
  margin-right: -8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 10px;
}
.card img {
  display: block;
  margin: 0 auto;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1CAC78;;
  color: white;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1CAC78;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #B22222;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

/* Stilurile pentru titlul principal */
h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stilurile pentru titlul secundar */
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container{
  margin-bottom: 10px;
}
.statistics{
  margin-bottom: 10px;;
}
.resume{
  margin-bottom: 10px;;


}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
